body{ 
  background-color: black;
}


 h1 {
  margin-top: 50px;
  text-align: center;
  color: white;
   text-decoration: underline;
 }


 p {
   text-align: center;
   padding: 15px;
   color:black;
   background-color: #244e70;
   border: 1px solid #d1cdc6;
   line-height: 20px;
   font-size: 18px;
  }

  .para {
    margin-left: 50px;
    margin-right: 50px;
    padding: 40px 40px 40px 40px;
  }
/*Clock On Index Screen*/
 .clock {
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
  padding: 15px;
  color: #ff1a00;
  background-color: black;
  border: 4px solid #d1cdc6;
  border-radius: 15px;
  display: block;
  width: 275px;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  text-shadow:  1px 1px  #b32f25;
  margin-bottom: 20px;
 }

 .clock-assignments {
  float: right;
  font-family: 'Orbitron', sans-serif;
  font-size: 35px;
  color: #ff1a00;
  background-color: black;
  border: 4px solid #d1cdc6;
  border-radius: 15px;
  width: 225px;
  text-align: center;
  text-shadow:  1px 1px  #b32f25;
  padding: 10px;
 }

 
/* Home Button For Assignments */
  
span a {
   font-size: 40px;
   padding: 5px;
   text-decoration: none;
   background-color: black;
   color: white; 
   border-radius: 20px;
   border: 1px solid #d1cdc6;

 }

 span a:hover {
   background-color: #333332;
   color: white;
 }

 /* Background Video for assignment 11 */
 
 
 #Video {
  position: absolute;
  top: 50%; 
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%; 
  min-height: 100%; 
  width: auto; 
  height: auto;
  z-index: -1000; 
  overflow: hidden;
  
}
/* The Content For all Assignments in front of the background */
.content {
  position: relative;
  top: 0;
  width: 100%;
}


 * {
    box-sizing: border-box;
  }
  
  
  
  .navbar {
    overflow: hidden;
    background-color: #244e70;
    font-family: 'Oswald', arial, Helvetica, sans-serif;
    border: 1px solid #d1cdc6;
  }

  
  
  .navbar a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  .dropdown {
    text-align:center;
    overflow: hidden;
    border: 1px solid #d1cdc6;
  }
  
  .dropdown .dropbtn {
    font-size: 30px;  
    border: none;
    outline: none;
    color: white;
    padding-top: 20px;
    padding-bottom:20px;
    background-color: inherit;
    position: relative;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #2c5a80;
  }
  /* Dropwdown Content For Index Page */
  .dropdown-content {
    display: none;
    background-color: #f9f9f9;
    width: 100%;
    border: 1px solid #d1cdc6;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
    background-color: #4aa2eb;
    height: 310px;
  }
  
  .column a {
    float: none;
    color: black;
    padding: 15px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .column a:hover {
    background-color: #50abf5;
  }

  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }




/* Assignment 11 and 15 IMGS*/

.cubs {
  margin-top: 50px;
  margin-left: 50px;
  width: 200px;
  height: 200px;
  }

  .bears {
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-top: 50px;
  }

  .blackhawks {
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-top: 50px
  }

  .in {
    width: 200px;
    height: 200px;
    margin-top: 50px;
  }

  .imgs {
    text-align: center;
  }

 iframe {
   display:block;
   margin-top: 25px;
 }

 audio {
  margin-top: 10px;
  background: white;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
 }

/* Assignment 12 Canvas */

.canvas-content {
  text-align: center;
  border: 1px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  background-color: #2c5a80;
}

.name {
  width: 250px;
  height: 50px;
}

.design {
  width: 200px;
  height: 200px;
}


#time {
  display:block;
}

/* Assignment 13 Databases */

.database-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.database-2{
  display: inline-block;
  padding: 30px;
}


/* Assignment 14 Gnatt Chart */

h2 {
  margin-top: 50px;
  text-align: center;
  color: white;
}

.gnatt {
  padding: 10px;
  background-color: #2c5a80;
  width: 750px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid white;
}


  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      height: auto;
    }

    .dropdown  a {
      font-size: 15px;
    }

    .column {
      width: 33.33%;
      padding: 5px;
      height: 325px;
      display: inline-block;
    }

  }
    @media screen and (max-width: 800px) {

 
/* Assignment 11 and 15 IMG */
    .cubs {
      margin-left: 10px;
      width: 100px;
      height: 100px;
    }

    .bears {
      width: 100px;
      height: 100px;
    }

    .blackhawks {
      width: 100px;
      height: 100px;
      
    }

    .in {
      width: 100px;
      height: 100px;
    }


    /* Assignment 14 IMG */


    .gnatt {
      width: 450px;
      height: 350px;
    }






  }





    